body {
    background-color:#9198e5;
}
/* radial gradient doesnt work */
@media screen and (max-width: 1100px) {
    body {
        background-color: rgb(48, 171, 212);
    }
}

.textshadow {
    /* Text Shadow */
    text-shadow: 5px 5px #51ff00;
}

.BorderRadius {
    /* Border Radius */
    font-size: 30px;
    height: 50px;
    width: fit-content;
    border-radius: 25% 10%;
}

.same {
    display: inline-block;
}

.rgba {
    /* RGBA color */
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 50%;
    width: fit-content;
    height: 40px;
    padding: 20px;
}

.hsla {
    /* HSLA colors */
    background-color: hsla(120, 100%, 50%, 0.3);
    
    width: fit-content;
    height: 40px;
    padding: 20px;
}

.boxshadow {
    /* box shadow */
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px;
    border-radius: 25% ;
    /* Linear Gradient */
    background: linear-gradient(#8de664, #ec0000);
    ;
}

.borderimg1 {
    /* radial gradient implemented in here*/
    border: 15px solid transparent;
    padding: 15px;
    background: radial-gradient(#e40707, #a9e591);
    border-image-source: url(https://previews.123rf.com/images/katarepsius/katarepsius1802/katarepsius180200125/95183932-bright-rainbow-frame-with-empty-copy-space-for-text-or-image-and-multicolored-handprints-border-isol.jpg);
    border-image-repeat: repeat;
    border-image-slice: 30;
    width: fit-content;
}

.animation {
    width: 100px;
    height: 100px;
    border: black;
    transform: rotate(45deg);
    
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    animation-name: example;
    animation-duration: 15s;
    
}

@keyframes example {
    
    from {
        background-color: red;
        transform:rotate(0deg);
    }
    to {
        background-color: yellow;
        transform:rotate(360deg);
    }
}

@font-face {
    /* Changing font*/
    /* from google it didn't work but we can work on that later i guess */
    font-family: 'Estonia';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
 
    src: url(https://fonts.gstatic.com/s/estonia/v5/7Au_p_4ijSecA1yHOCX2zw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.font {
    font-size: 50px;
    font-family: 'Estonia';
}

.column {
    column-count: 3;
    column-gap: 40px;
    width: 100%;
    column-rule-style: solid;
    align-items: stretch;
}

@media screen and (max-width: 1100px) {
    .column {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .column {
        column-count: 2;
        column-gap: 40px;
        width: 100%;
        column-rule-style: solid;
        align-items: stretch;
    }
}

.flex-container {
    display: flex;
    background-color: hsl(0, 81%, 79%);
    background-size: large;
    font-display: initial;
    justify-content: center;
    /* justify-content: space-between; */
    /* display: flex;
    align-items: center; */
}

.flex-container>div {
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    background-color: DodgerBlue;
}

.background {
    background-image: url(https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg);

    background-position: 50% 120%;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.rotate {
    border: solid red;
    transform: translate(30px, 20px) rotate(20deg);
    width: fit-content;
    height: 60px;
    font-size: 50px;
}

.rotate2 {
    border: solid red;
    transform: translate(1px) skew(30deg, 30deg);
    width: fit-content;
    height: 60px;
    font-size: 50px;
}
.h3{
    text-align: center;
    font-family: 'Estonia';
    font-size: medium;
}
.flex5{
    flex-grow: 4;
}
.flex4{
    flex-grow: 2.5;
}
.flex6{
    flex-grow: 1.5;
}
.flex3{
    flex-grow: 2.5;
}
.flex7{
    flex-grow: 1.5;
}